@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro";
  background-color: pink;
  hieght: 100vh;
  overflow: hidden;
}
